.stylesheet {
  color: {{>color}};
  background: {{color}};
  font-size: {{fontSize}}px;
  {{fontWeight}};
  {{decoration}};
  {{marginTop}}: 12px;
  {{marginBottom}}: {{mB}};
  {{marginRight}}: {{mR}};
  {{marginLeft}}: {{mL}}px;
  {{computePaddingTop}}: 12px;
  {{computePaddingBottom}}: {{mB}};
  {{computePaddingRight}}: {{mR}};
  {{computePaddingLeft}}: {{mL}}px;
}

{{local}} .stylesheet__inner {
  color: {{>color}};
  background: {{color}};
  font-size: {{fontSize}}px;
  {{fontWeight}};
  {{decoration}};
  {{marginTop}}: 12px;
  {{marginBottom}}: {{mB}};
  {{marginRight}}: {{mR}};
  {{marginLeft}}: {{mL}}px;
  {{computePaddingTop}}: 12px;
  {{computePaddingBottom}}: {{mB}};
  {{computePaddingRight}}: {{mR}};
  {{computePaddingLeft}}: {{mL}}px;
}

.stylesheet__test {
  {{style | checkStyles}}
}

{{local}} .stylesheet__test__inner {
  {{style | checkStyles}}
}

.stylesheet__{{inline}} { background: '#F00F00'; }