[submodule "submodules/solone"]
	path = submodules/solone
	url = https://github.com/keleko34/solone.git
[submodule "submodules/frytki"]
	path = submodules/frytki
	url = https://github.com/keleko34/frytki.git
[submodule "submodules/czosnek"]
	path = submodules/czosnek
	url = https://github.com/keleko34/czosnek.git
[submodule "submodules/peprze"]
	path = submodules/peprze
	url = https://github.com/keleko34/peprze.git
[submodule "submodules/pikantny"]
	path = submodules/pikantny
	url = https://github.com/keleko34/pikantny.git
