/*# sourceURL=mocha.css */
.test_subjects {
  margin-left: 50px;
}
.test_subject__element__child {
  margin-left: 20px;
}
.test, .performance {
  margin: 30px 50px;
}
.section {
  font-size:24px;
  text-decoration: underline;
  color: blue;
  font-family: sans-serif;
}
#mocha {
  margin-top:10px;
}